@use 'theme-constants' as theme;

:host {
  display: flex;
  flex-direction: column;
  gap: theme.$spacing-sm;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-container {
  gap: theme.$spacing-sm;
  padding: theme.$spacing-sm;
  border-radius: theme.$border-radius;
  border: theme.$border;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

.tertiary-button {
  background-color: var(--mat-sys-tertiary-container); // tertiary container color
  color: var(--mat-sys-on-tertiary-container);        // text color on tertiary container
  border-radius: 8px;
  padding: 0.5em 1em;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-transform: uppercase;

  &:hover {
    background-color: var(--mat-sys-tertiary-container-hover); // optional if defined
  }
}
