@use 'theme-constants' as theme;

:host {
  display: flex;
  flex-direction: column;
  gap: theme.$spacing-sm;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-container {
  gap: theme.$spacing-sm;
  padding: theme.$spacing-sm;
  border-radius: theme.$border-radius;
  border: theme.$border;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

